In [2]:
# Working on this - Diego #

In [3]:
import os
import re 
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib as plt
import seaborn as sns

In [5]:
# Downloaded listings.csv from Inside AirBNB on Saturday, December 24th #
df = pd.read_csv('listingsdec24.csv')

In [6]:
df1 = pd.read_csv('neighbourhoods.csv')

In [7]:
print(df.columns.values)

['id' 'name' 'host_id' 'host_name' 'neighbourhood_group' 'neighbourhood'
 'latitude' 'longitude' 'room_type' 'price' 'minimum_nights'
 'number_of_reviews' 'last_review' 'reviews_per_month'
 'calculated_host_listings_count' 'availability_365'
 'number_of_reviews_ltm' 'license']

In [8]:
df.describe

<bound method NDFrame.describe of                        id                                          name  \
0                  106332              Lovely large room, Bethnal Green
1                   13913           Holiday London DB Room Let-on going
2                  284532           COSY STUDIO-FLAT WITH A GREAT  VIEW
3                  107048          A Luxury Studio Suite in Clerkenwell
4                  284603           Notting Hill church stay in Heaven!
...                   ...                                           ...
69346             9671724            Cozy room in Greenwich, river view
69347            20277958                        River view Tate Modern
69348            20512703  Luxury 4 bed house, 100m to river and palace
69349            49698549                       Waterfront Hampton Stay
69350  554172169432589107  GuestReady Gorgeous Bright 2 Br Apartment in

         host_id       host_name  neighbourhood_group           neighbourhood  \
0         264345           Susie                  NaN           Tower Hamlets
1          54730           Alina                  NaN               Islington
2        1481412            Luca                  NaN           Tower Hamlets
3         259088           Simon                  NaN               Islington
4        1481851           Tania                  NaN  Kensington and Chelsea
...          ...             ...                  ...                     ...
69346   49977905            Kurt                  NaN               Greenwich
69347    1132775            Mark                  NaN               Southwark
69348    1706966  Asher & Aileen                  NaN    Richmond upon Thames
69349   34213667            Alan                  NaN    Richmond upon Thames
69350  402191311      GuestReady                  NaN               Greenwich

       latitude  longitude        room_type  price  minimum_nights  \
0      51.52874   -0.05396     Private room     55               3
1      51.56861   -0.11270     Private room     50               1
2      51.52851   -0.07426  Entire home/apt     90               5
3      51.52478   -0.10484     Private room    180               4
4      51.51464   -0.20004  Entire home/apt    297              14
...         ...        ...              ...    ...             ...
69346  51.48300   -0.01346     Private room     55               5
69347  51.50914   -0.10192  Entire home/apt    201               3
69348  51.40571   -0.35325  Entire home/apt    246               3
69349  51.41029   -0.35975  Entire home/apt    250               3
69350  51.50183    0.00862  Entire home/apt    134               2

       number_of_reviews last_review  reviews_per_month  \
0                     65  2016-06-10               0.47
1                     30  2022-07-15               0.20
2                     42  2022-01-04               0.34
3                    493  2022-09-02               3.59
4                      6  2022-07-04               0.05
...                  ...         ...                ...
69346                 67  2021-10-03               0.84
69347                 61  2022-09-09               0.99
69348                  6  2022-08-31               1.49
69349                  9  2022-07-18               0.61
69350                 17  2022-06-20               2.45

       calculated_host_listings_count  availability_365  \
0                                   1                74
1                                   2               343
2                                   1               222
3                                   5               236
4                                   1               180
...                               ...               ...
69346                               3                 0
69347                               1                 0
69348                               1                 4
69349                               1                 2
69350                             101                85

       number_of_reviews_ltm  license
0                          0      NaN
1                          9      NaN
2                          1      NaN
3                         20      NaN
4                          2      NaN
...                      ...      ...
69346                      1      NaN
69347                     12      NaN
69348                      6      NaN
69349                      4      NaN
69350                     17      NaN

[69351 rows x 18 columns]>

In [16]:
to_drop = ['license']
df.drop(to_drop, inplace=True, axis = 1)

KeyError: "['license'] not found in axis"

In [15]:
df.head

<bound method NDFrame.head of                        id                                          name  \
0                  106332              Lovely large room, Bethnal Green
1                   13913           Holiday London DB Room Let-on going
2                  284532           COSY STUDIO-FLAT WITH A GREAT  VIEW
3                  107048          A Luxury Studio Suite in Clerkenwell
4                  284603           Notting Hill church stay in Heaven!
...                   ...                                           ...
69346             9671724            Cozy room in Greenwich, river view
69347            20277958                        River view Tate Modern
69348            20512703  Luxury 4 bed house, 100m to river and palace
69349            49698549                       Waterfront Hampton Stay
69350  554172169432589107  GuestReady Gorgeous Bright 2 Br Apartment in

         host_id       host_name  neighbourhood_group           neighbourhood  \
0         264345           Susie                  NaN           Tower Hamlets
1          54730           Alina                  NaN               Islington
2        1481412            Luca                  NaN           Tower Hamlets
3         259088           Simon                  NaN               Islington
4        1481851           Tania                  NaN  Kensington and Chelsea
...          ...             ...                  ...                     ...
69346   49977905            Kurt                  NaN               Greenwich
69347    1132775            Mark                  NaN               Southwark
69348    1706966  Asher & Aileen                  NaN    Richmond upon Thames
69349   34213667            Alan                  NaN    Richmond upon Thames
69350  402191311      GuestReady                  NaN               Greenwich

       latitude  longitude        room_type  price  minimum_nights  \
0      51.52874   -0.05396     Private room     55               3
1      51.56861   -0.11270     Private room     50               1
2      51.52851   -0.07426  Entire home/apt     90               5
3      51.52478   -0.10484     Private room    180               4
4      51.51464   -0.20004  Entire home/apt    297              14
...         ...        ...              ...    ...             ...
69346  51.48300   -0.01346     Private room     55               5
69347  51.50914   -0.10192  Entire home/apt    201               3
69348  51.40571   -0.35325  Entire home/apt    246               3
69349  51.41029   -0.35975  Entire home/apt    250               3
69350  51.50183    0.00862  Entire home/apt    134               2

       number_of_reviews last_review  reviews_per_month  \
0                     65  2016-06-10               0.47
1                     30  2022-07-15               0.20
2                     42  2022-01-04               0.34
3                    493  2022-09-02               3.59
4                      6  2022-07-04               0.05
...                  ...         ...                ...
69346                 67  2021-10-03               0.84
69347                 61  2022-09-09               0.99
69348                  6  2022-08-31               1.49
69349                  9  2022-07-18               0.61
69350                 17  2022-06-20               2.45

       calculated_host_listings_count  availability_365  number_of_reviews_ltm
0                                   1                74                      0
1                                   2               343                      9
2                                   1               222                      1
3                                   5               236                     20
4                                   1               180                      2
...                               ...               ...                    ...
69346                               3                 0                      1
69347                               1                 0                     12
69348                               1                 4                      6
69349                               1                 2                      4
69350                             101                85                     17

[69351 rows x 17 columns]>

In [17]:
to_drop1 = ['neighbourhood_group']
df.drop(to_drop1, inplace=True, axis = 1)

In [18]:
df.head

<bound method NDFrame.head of                        id                                          name  \
0                  106332              Lovely large room, Bethnal Green
1                   13913           Holiday London DB Room Let-on going
2                  284532           COSY STUDIO-FLAT WITH A GREAT  VIEW
3                  107048          A Luxury Studio Suite in Clerkenwell
4                  284603           Notting Hill church stay in Heaven!
...                   ...                                           ...
69346             9671724            Cozy room in Greenwich, river view
69347            20277958                        River view Tate Modern
69348            20512703  Luxury 4 bed house, 100m to river and palace
69349            49698549                       Waterfront Hampton Stay
69350  554172169432589107  GuestReady Gorgeous Bright 2 Br Apartment in

         host_id       host_name           neighbourhood  latitude  longitude  \
0         264345           Susie           Tower Hamlets  51.52874   -0.05396
1          54730           Alina               Islington  51.56861   -0.11270
2        1481412            Luca           Tower Hamlets  51.52851   -0.07426
3         259088           Simon               Islington  51.52478   -0.10484
4        1481851           Tania  Kensington and Chelsea  51.51464   -0.20004
...          ...             ...                     ...       ...        ...
69346   49977905            Kurt               Greenwich  51.48300   -0.01346
69347    1132775            Mark               Southwark  51.50914   -0.10192
69348    1706966  Asher & Aileen    Richmond upon Thames  51.40571   -0.35325
69349   34213667            Alan    Richmond upon Thames  51.41029   -0.35975
69350  402191311      GuestReady               Greenwich  51.50183    0.00862

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room     55               3                 65  2016-06-10
1         Private room     50               1                 30  2022-07-15
2      Entire home/apt     90               5                 42  2022-01-04
3         Private room    180               4                493  2022-09-02
4      Entire home/apt    297              14                  6  2022-07-04
...                ...    ...             ...                ...         ...
69346     Private room     55               5                 67  2021-10-03
69347  Entire home/apt    201               3                 61  2022-09-09
69348  Entire home/apt    246               3                  6  2022-08-31
69349  Entire home/apt    250               3                  9  2022-07-18
69350  Entire home/apt    134               2                 17  2022-06-20

       reviews_per_month  calculated_host_listings_count  availability_365  \
0                   0.47                               1                74
1                   0.20                               2               343
2                   0.34                               1               222
3                   3.59                               5               236
4                   0.05                               1               180
...                  ...                             ...               ...
69346               0.84                               3                 0
69347               0.99                               1                 0
69348               1.49                               1                 4
69349               0.61                               1                 2
69350               2.45                             101                85

       number_of_reviews_ltm
0                          0
1                          9
2                          1
3                         20
4                          2
...                      ...
69346                      1
69347                     12
69348                      6
69349                      4
69350                     17

[69351 rows x 16 columns]>

In [19]:
dfchlc = df["calculated_host_listings_count"].mean()
print(dfchlc)

11.987498377817191

In [20]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69351 entries, 0 to 69350
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              69351 non-null  int64
 1   name                            69330 non-null  object
 2   host_id                         69351 non-null  int64
 3   host_name                       69346 non-null  object
 4   neighbourhood                   69351 non-null  object
 5   latitude                        69351 non-null  float64
 6   longitude                       69351 non-null  float64
 7   room_type                       69351 non-null  object
 8   price                           69351 non-null  int64
 9   minimum_nights                  69351 non-null  int64
 10  number_of_reviews               69351 non-null  int64
 11  last_review                     52571 non-null  object
 12  reviews_per_month               52571 non-null  float64
 13  calculated_host_listings_count  69351 non-null  int64
 14  availability_365                69351 non-null  int64
 15  number_of_reviews_ltm           69351 non-null  int64
dtypes: float64(3), int64(8), object(5)
memory usage: 8.5+ MB

In [21]:
print(df.columns.to_list())

['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm']

In [22]:
cols = ['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'calculated_host_listings_count', 'availability_365']

In [26]:
df.sample(3)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
40350,40129235,A newly renovated family home in South West Lo...,10531947,Sandra,Wandsworth,51.43536,-0.18234,Entire home/apt,150,6,2,2022-08-06,0.24,1,26,2
18013,18752103,"Cosy, Modern and Stylish 2BR in Central London",130459512,Barbora,Southwark,51.49361,-0.08899,Entire home/apt,145,4,8,2020-01-04,0.13,1,0,0
14276,15355325,Two bedroom two bathroom serviced apartment in...,9063235,Executive Roomspace,Hounslow,51.48815,-0.28598,Entire home/apt,208,3,2,2022-07-03,0.03,79,0,1